:root{
    --color-primary: #000000;
    --color-primary-light: #697565;
    --color-primary-dark: #697565;
    --color-secondary-light: #ECDFCC;
    --color-white: #f5f5f5;
}

*,
*:active,
*:hover{
    
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-secondary-light);
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 12fr;
    overflow-x: hidden;
    padding: 20px 42px 20px 14px;
    gap: 22px;
}
.sidebar{
    background-color: var(--color-primary-light);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 25px;
}




ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 5px;
    font-weight:150;
    /* border: 1px solid;
    border-collapse: collapse; */
    
}

.logo{
    display: flex;
}

.logo-icon{
    display: inline-block;
    width: 100px;
    margin-left: -15px
}
.logo-text{
    display: inline-block;
    margin-left: -13px;
    margin-top: 50px;
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 600;
    
}



.logo-text span{
    font-size: 12px;
}
.app-options{
    margin-top: 90px;
}

.app-list li p,.app-options li p {
    font-weight: 500;
}

.icon{
    width: 30px;
}
.icon:hover, .app-list li p:hover,.app-options li p:hover {
    cursor: pointer;
}


.header{
    background-color: var(--color-primary-light);
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
 
}
.header__left-column{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header__form{
    display: flex;
    align-items:stretch;
    gap: 8px;
}
.header__form input{
    flex-grow: 1;
    margin-right: 12px;

    border: 1px solid #eee;
    border-radius: 200px;
    
    
}
.header__form input:focus{
    border:1px solid rgb(0, 109, 76);
    outline:1px solid rgb(2, 116, 53);
}

.user-welcome-text{
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.user-name{
    font-size: 28px;
    margin-top: 8px;

}


.profile-picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("images/vic-damone.jpg");
    background-position: center;
    background-size: cover;
   
}

.header__user-info .profile-picture{
    float: left;
    margin-right: 5px;
}

.header__right-column{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.user-info{
    display: flex;
    justify-content: end;
    gap: 22px;
    padding-right: 18px;
}

.user-action-buttons{
    display: flex;
    justify-content: end;
    align-items: center;
    color: var(--color-white);
}

.user-action-buttons a:hover{
    text-shadow: 0px 0px 9px rgba(255,255,255,0.92);
}




.image__sm{
    width: 80px !important ;
    height: 80px !important;

}

.btn,
.btn:visited,
.btn:link{
    display: inline-block;
    border: none;
    text-decoration: none;
    width: 70px;
    height: 45px;
    border-radius: 200px;

    text-align: center;
    padding-top: 12px;
    color: var(--color-white);
    background: var(--color-primary-dark);

}

.main{
    background-color: transparent;
    grid-column:2 / 3 ;
    grid-row: 2 / 3 ;

    padding: 40px;

   
}

.card-deck{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    gap: 20%;
}

.card{
    /* border-radius: 4px; */
    border-left:6px solid var(--color-primary-light);
    padding-left: 6px;
}