:root{
    --color-primary: #C21C04;
    --color-primary-light: #cc5441;
    --color-primary-dark: #421b15;
    --color-white: #f5f5f5;
}

*,
*:active,
*:hover{
    box-sizing: border-box;
}

body{
    font-family: 'League Gothic', sans-serif;
    width: 100vw;
    min-height: 100vh;
background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 8fr ;
    grid-template-rows: 2fr 12fr;
    overflow-x: hidden;
    margin: 10px;
    gap: 15px
}

.sidebar{
    background-color: var(--color-primary);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 25px;
}




ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 5px;
    font-weight:150;
    border: 1px solid;
    border-collapse: collapse;
    
}

.logo{
    display: flex;
}

.logo-icon{
    display: inline-block;
    width: 100px;
    margin-left: -15px
}
.logo-text{
    display: inline-block;
    margin-left: -13px;
    margin-top: 50px;
    font-size: 36px;
    letter-spacing: 2px;
    
}
.logo-text span{
    font-size: 12px;
}

.icon{
    width: 30px;
}

.app-options{
    margin-top: 90px;
}

.header{
    background-color: var(--color-white);
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}
.header__left-column{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header__form{
    display: flex;
    align-items:stretch;
    gap: 8px;
}
.header__form input{
    flex-grow: 1;
    margin-right: 12px;

    border: 1px solid #eee;
    border-radius: 200px;
    
}

.user-welcome-text{
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.user-name{
    font-size: 28px;
    margin-top: 8px;

}


.profile-picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("images/vic-damone.jpg");
    background-position: center;
    background-size: cover;
   
}

.header__user-info .profile-picture{
    float: left;
    margin-right: 5px;
}

.header__right-column{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.user-info{
    display: flex;
    justify-content: end;
    gap: 22px;
    padding-right: 38px;
}

.user-action-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}




.image__sm{
    width: 80px !important ;
    height: 80px !important;

}

.btn,
.btn:visited,
.btn:link{
    display: inline-block;
    border: none;
    text-decoration: none;
    width: 70px;
    height: 45px;
    border-radius: 200px;

    text-align: center;
    padding-top: 12px;
    color: var(--color-white);
    background: var(--color-primary-dark);

}

.main{
    background-color: var(--color-primary-light);
    grid-column:2 / 3 ;
    grid-row: 2 / 3 ;
}